<footer class="bg-customBlue-darker text-white py-8 px-4 relative bottom-0 w-full">
    <div class="flex justify-center mb-8">
        <div class="w-1/4">
            <img src="/images/logo_125.png" alt="ECO-TOURISM GUIDE" class="w-auto h-20 mb-4" />
            <p class="mt-4 mr-6">Menyediakan informasi tentang destinasi pariwisata yang ramah lingkungan dan berkualitas, serta kegiatan wisata yang mendukung pelestarian alam dan keberlanjutan ekonomi lokal.</p>
        </div>
        <div class="w-1/8 mr-20">
            <h2 class="text-lg font-semibold mb-1 h-8">Company</h2>
            <ul>
                <li><a href="#" class class="hover:text-customGray-light">About us</a></li>
                <li><a href="#" class="hover:text-customGray-light">Contact us</a></li>
                <li><a href="#" class="hover:text-customGray-light">FAQs</a></li>
                <li><a href="#" class="hover:text-customGray-light">Search</a></li>
            </ul>
        </div>
        <div class="w-1/8 mr-20">
            <h2 class="text-lg font-semibold mb-1 h-8">Support</h2>
            <img src="/kamenkraft.svg" alt="Kemenkrat" class="w-auto h-[120px] mb-1" />
        </div>
        <div class="w-1/8 mr-15">
            <h2 class="text-lg font-semibold mb-1 h-8">Social Media</h2>
            <div class="flex space-x-4">
                <FaFacebookF class="text-2xl hover:text-customGray-light cursor-pointer" />
                <FaInstagram class="text-2xl hover:text-customGray-light cursor-pointer" />
                <FaTwitter class="text-2xl hover:text-customGray-light cursor-pointer" />
                <FaLinkedinIn class="text-2xl hover:text-customGray-light cursor-pointer" />
            </div>
        </div>
    </div>
    <hr class="border-customGray" />
    <p class="text-center">&copy; 2024 EcoTourismGuide. All rights reserved</p>
</footer>
