<div class="flex-none w-80 h-96 p-6 bg-slate-50 rounded-lg shadow-md bg-opacity-95" alt="Sidebar">
    <div class="flex justify-between items-center">
        <div>
            <h1 class="font-semibold">Sidebar Information</h1>
            <h2 class="text-sm text-gray-400">Quick Access Links</h2>
        </div>
    </div>
    <hr class="m-6 w-full border-1 border-gray-300 mx-auto"/>
    <ul class="">
        <li class="font-medium mt-4 p-3 bg-white rounded-lg transform hover:scale-105 transition-transform duration-150"><button class="text-customBlue-deep hover:underline transform hover:scale-105 transition-transform duration-150">Profil Saya</button></li>
        <li class="font-medium mt-4 p-3 bg-white rounded-lg transform hover:scale-105 transition-transform duration-150"><button class="text-customBlue-deep hover:underline transform hover:scale-105 transition-transform duration-150">Pesanan Saya</button></li>
        <li class="font-medium mt-4 p-3 bg-customBlue-deep rounded-lg transform hover:scale-105 transition-transform duration-150"><button class="underline text-white hover:transform hover:scale-105 transition-transform duration-150">Pembayaran</button></li>
        <li class="font-medium mt-4 p-3 bg-white rounded-lg transform hover:scale-105 transition-transform duration-150"><button class="text-customBlue-deep hover:underline transform hover:scale-105 transition-transform duration-150">Moda Transportasi</button></li>
    </ul>
</div>