<footer class="bg-customBlue-darker text-white py-8 px-4 relative bottom-0 w-full">
    <div class="flex justify-center mb-8">
        <div class="w-1/2 flex items-center">
            <img src="images/logo_125.png" alt="ECO-TOURISM GUIDE" class="w-auto h-20 mb-4 rounded-md" />
            <p class="ml-4 text-sm">
                Rasakan kenyamanan dan keamanan perjalanan Anda dengan jasa travel mobil kami. Kami siap mengantarkan Anda ke destinasi impian dengan pelayanan terbaik, armada kendaraan modern, serta sopir berpengalaman. Percayakan perjalanan Anda kepada kami dan nikmati pengalaman liburan yang tak terlupakan!
            </p>
        </div>        
        <div class="w-1/2 flex justify-between">
            <div class="mr-20">
                <h2 class="text-lg font-semibold mb-1 h-8">Company</h2>
                <ul>
                    <li><a href="#" class="hover:text-customGray-light text-sm">About us</a></li>
                    <li><a href="#" class="hover:text-customGray-light text-sm">Contact us</a></li>
                    <li><a href="#" class="hover:text-customGray-light text-sm">FAQs</a></li>
                    <li><a href="#" class="hover:text-customGray-light text-sm">Search</a></li>
                </ul>
            </div>
            <div class="mr-20">
                <h2 class="text-lg font-semibold mb-1 h-8">Travel Services</h2>
                <ul>
                    <li><a href="#" class="hover:text-customGray-light text-sm">Car Booking</a></li>
                    <li><a href="#" class="hover:text-customGray-light text-sm">Shuttle Services</a></li>
                    <li><a href="#" class="hover:text-customGray-light text-sm">Private Hire</a></li>
                    <li><a href="#" class="hover:text-customGray-light text-sm">Travel Insurance</a></li>
                </ul>
            </div>
            <div class="mr-15">
                <h2 class="text-lg font-semibold mb-1 h-8">Social Media</h2>
                <div class="flex space-x-4">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram" class="w-6 h-6 hover:text-customGray-light cursor-pointer" />
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" class="w-6 h-6 hover:text-customGray-light cursor-pointer" />
                    <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook" class="w-6 h-6 hover:text-customGray-light cursor-pointer" />
                </div>
            </div>
        </div>
    </div>
    <hr class="border-customGray" />
    <p class="text-center text-sm">&copy; 2024 Howlite Travel. All rights reserved</p>
</footer>



