<nav class="shadow-md">
    <div class="flex items-center justify-between mt-0 text-lg bg-white h-[70px]">
        <div class="ml-5 p-2 flex items-center h-5"> 
            <img class="" src="images/logo.jpeg" alt="Logo"/> 
        </div> 
        <div class="flex items-center justify-center mr-5 p-2">
            <button class="flex items-center space-x-1 bg-customBlue-base hover:bg-customBlue-deep text-white px-2.5 py-2.5 rounded-lg transition-colors duration-300 ease-in-out text-sm">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                 </svg>
                <span class="text-white">Masuk</span>
            </button>
        </div>
    </div>
</nav>