<nav class="bg-customGray-dark p-4 text-black">
    <div class="container mx-auto flex justify-between items-center text-white">
        <a href="/" class="text-lg font-semibold">Howlite Shuttle</a>
        <div>
            <a href="/" class="px-4 py-2 hover:bg-customGray-light">Home</a>
            <a href="/about" class="px-4 py-2 hover:bg-customGray-light">About</a>
            <a href="/services" class="px-4 py-2 hover:bg-customGray-light">Services</a>
            <a href="/contact" class="px-4 py-2 hover:bg-customGray-light">Contact</a>
        </div>
    </div>
</nav>

